@import "./_display.scss";
@import "./_mixin.scss";
@import "./_variables.scss";

* {
  box-sizing: border-box;
}

.bottom{
  @include display(flex, center, stretch);

  ul {
    @include size(100%, 80%);
    margin-left: 4%;

    li {
      display: inline-flex;
      list-style-type: none;
      margin: 1%;

      a {
        @include size(100%, 100%);
        text-decoration: none;
        color: black;
        font-family: $font-default;

        .lista-cursos {
          position: relative;
          background: $border-color-default;
          height: 12.5rem;
          width: 20rem;
          border-radius: 0.1em;
          border: 0.09em solid $color-deafult;
          border-top: 1em solid $color-deafult;
          box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.25);
          transition: box-shadow .25s ease-in;

          .card-title  {
            display: block;
            font-size: 1.4em;
            margin-left: 5%;
            margin-top: 6%;
          }

          .card-description {
            display: block;
            color: #58595b;
            font-size: 1em;
            margin-left: 5%;
            margin-top: 6%;
          }

          .card-author, .card-language {
            display: inline;
            color: #58595b;
            font-size: 0.8em;
            margin-left: 5%;
            margin-top: 6%;
            line-height: 9em;
          }

          .card-language {
            position:absolute;
            right: 5%;
          }
        }
      }
    }
  }
}

.middle{
  @include size(10%, 100%);
  display: $display-default;
  align-items: flex-end;
}
