@import "variables";
@import "mixin";


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content-section {
  font-family: $font-default, sans-serif;
  @include size(100vh, 100vw);
}

.content-header {
  background: $color-default;
  color: $font-color-default;
  display: $display-default;
  font-size: 1.5em;
  justify-content: space-between;
  @include size(10%, 100%);
}

.logo, .search {
  @include size(auto, 30%);
  display: $display-default;
  align-items: center;
  justify-content: center;

  form {
    @include size(100%, 90%);
    display: $display-default;
    align-items: center;
  }

  .search input{
    @include size(50%, 100%);
    border-radius: 4px;
    border: none;
    text-align: center;
  }
}

.container {
  @include size(90%, 100%);
  display: $display-default;
  justify-content: space-between;


  .content-container{
    @include size(100%, 70%);
    align-items: flex-start;
    display: $display-default;
    justify-content: center;


    .player-container {
      @include size(75%, 95%);
      display: $display-default;
      flex-direction: column;
      justify-content: space-around;
    }
    .title {
      display: $display-default;
      align-items: center;
      font-size: 1.3em;
    }
    .player-size {
      @include size(80%, 90%);
    }
  }
}
.playlist-container{
  @include size(100%, 30%);
  border: 1px;
  border-color: $border-color-default;
  border-left-style: dashed;
  display: $display-default;
  justify-content: flex-end;
  margin-top: 3vh;
  ul {
    @include size(100%, 90%);
    overflow: scroll;
    font-size: 0.9em;
   li{
      @include size(20%, 90%);
      border: 1px solid #e2e2e2;
      list-style: none;
      margin-bottom: 2vh;
      position: relative;
      img {
        @include size(100%, 100%);
        opacity: 0.5;
      }
      .nome-video {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 20%;
        background-color:$color-default;
      	color:white;
      }
      p {
        opacity: 0;
        position: absolute;
        bottom: -10%;
        width:100%;
      	filter:alpha(opacity=60); /* IE transparency */

        &:hover {
        background-color:black;
      	color:white;
      	opacity:0.6;
        }
      }
    }
  }
}
