@import "variables";
@import "mixin";

body {
  margin: 0;
  padding: 0;
}

.container-course{
  @include size(90%,100%);
  display: block;
}

.top-course{
  @include size(50%,100%);
  display: inline-flex;
}

.info-course {
  @include size(100%, 50%);
  margin-left: 2%;
}

.player-course {
  @include size (100%, 50%);
  border: 1px;
  border-color: #e2e2e2;
  border-left-style: dashed;
}

.bottom-course{
  @include size(50%,100%);
  display: inline-block;
}

.description-course{
  @include size(50%, 100%);
  display: inline-block;
  margin-left: 2%;
  border: 1px;
  border-color: #e2e2e2;
  border-top-style: dashed;
  border-bottom-style: dashed;
}

.classes {
  @include size(50%,100%);
  display: inline-block;
  border: 1px;
  border-color: #e2e2e2;
}
