@import "variables";
@import "mixin";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-course{
  @include size(90%,100%);
  display: block;
}

.top-course{
  @include size(50%,100%);
  background: grey;
  display: inline-flex;
}

.info-course {
  @include size(100%, 50%);
  background-color: pink;
  margin-left: 2%;
}

.player-course {
  @include size (100%, 50%);
  background: green;

}

.bottom-course{
  @include size(50%,100%);
  background: yellow;
  display: inline-block;
}

.description-course{
  @include size(50%, 100%);
  background: red;
  display: inline-block;
  margin-left: 2%;
}

.classes {
  @include size(50%,100%);
  background: grey;
  display: inline-block;
}
