@import "./_mixin.scss";
@import "./_variables.scss";

.logo{
  @include size(40%, 65%);
  display: inline-grid;
  font-family: $font-default;
  color: $font-color-deafult;
  background: $color-deafult;
  justify-content: center;
}
