* {
  margin: 0;
  padding: 0;
  overflow-x: 0;
}

.content-section {
  font-family: 'Fjalla One', sans-serif;
  height: 100vh;
  width: 100vw;
}

.content-header {
  background: #009688;
  color: #fff;
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

.logo, .search {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  width: 30%;

  form {
    align-items: center;
    display: flex;
    height: 100%;
    width: 90%;
  }

  input{
    border-radius: 4px;
    border: none;
    height: 50%;
    text-align: center;
    width: 100%;
  }
}

.container{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.video-container{
  align-items: flex-start;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.video {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-around;
  width: 95%;

  .title-video {
    align-items: center;
    display: flex;
    font-size: 1.3em;
    height: 13%;
  }
}


.playlist-container{
  border: 1px;
  border-color: #e2e2e2;
  border-left-style: dashed;
  height: 100%;
  width: 30%;
}
