<ul>
  {{#allContents}}

      <li class="">
        <a href="/content/{{ _id }}">
          <div class="lista-cursos">
            <span class="card-title"> {{ title }} </span>
            <span class="card-description">{{ description }}</span>
            <span class="card-author">{{ author }}</span>
          </div>
        </a>
      </li>

  {{/allContents}}
</ul>
