<div class="container">
  {{#allContents}}
  <a href="/course/{{ _id }}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ image }}" alt="Placeholder image">
        </figure>
      </div>
      <header class="card-header has-text-centered">
        <p class="card-header-title">
          {{ title }}
        </p>
      </header>
      <div class="card-content card-body">
        {{ description }}
      </div>
    </div>
  </a>
  {{/allContents}}
</div>
