<ul>
  {{#allContents}}
  <li class="carousel-visible"><a class='link' href="/content/{{ _id }}">{{ title }}</a></li>
  {{/allContents}}
</ul>
<i><input id="clickMe" type="button" value="clickme" onclick="carousel();" /></i>
