<div class="container test" >
  {{#arrayCourses}}
  <a href="/course/{{ _id }}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ image }}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content card-body min-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-5"> {{ title }}</p>
            </div>
          </div>
        </div>
    </div>
  </a>
  {{/arrayCourses}}
</div>
