<div class="tabcontent" id="Courses">
  <table class="table">
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Id</th>
      <th></th>
    </tr>
    {{#allAuthors}}
    {{#courses}}
    <tr>
      <td>{{title}}</td>
      <td>{{author}}</td>
      <td>{{_id}}</td>
      <td>
        <button type="button" name="delete">Delete</button>
        <button type="button" name="delete">Edit</button>
      </td>
    </tr>
    {{/courses}}
    {{/allAuthors}}
  </table>
</div>
