<div class="column is-5">
  <figure class="image is-4by3">
    {{#courseItem}}
    {{#course}}
    <img src="{{ image }}" alt="imagem do curso">
    {{/course}}
    {{/courseItem}}
  </figure>
</div>
