<nav class="navbar level is-transparent is-flex-mobile">
  <div class="level-left">
    <a class="navbar-item is-hidden-mobile" href="/">
      <p class="title">&#160;&#160;&#60;&#8260;Conhecimento Livre&#62;</p>
    </a>
    <a class="navbar-item is-hidden-desktop is-hidden-tablet" href="/">
      <p class="title is-6">&#160;&#160;&#60;&#8260;Conhecimento Livre&#62;</p>
    </a>
  </div>
  <div class="level-right is-flex-mobile">
    <a class="navbar-item" href="https://github.com/aceleradora-TW/conhecimento-livre" target="_blank">
      <img src="/images/github-circle.png" alt="Abre link Github em nova pagina">
    </a>
    <a class="navbar-item" href="https://twitter.com/clivreoficial" target="_blank">
      <img src="/images/twitter.png" alt="Abre link Twitter em nova pagina">
    </a>
    <a class="navbar-item" href="https://www.facebook.com/ConhecimentoLivreCI/" target="_blank">
      <img src="/images/facebook.png" alt="Abre link Facebook em nova pagina">
    </a>
  </div>
</nav>
