<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class ="icon" src="../svg/home.svg" alt="Conhecimento Livre">
      <p class="title">&#160;&#160;&#60;&#8260;CONHECIMENTO LIVRE&#62;</p>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/aceleradora-TW/conhecimento-livre" target="_blank">
      <img class="icon" src="../svg/github-logo.svg" alt="Conhecimento Livre">
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://www.facebook.com/ConhecimentoLivreCI/" target="_blank">
      <img class ="icon" src="../svg/facebook-logo.svg" alt="Conhecimento Livre">
    </a>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/aceleradora-TW/conhecimento-livre" target="_blank">
        <img class="icon" src="../svg/github-logo.svg" alt="Conhecimento Livre">
      </a>
      <a class="navbar-item is-hidden-desktop-only" href="https://www.facebook.com/ConhecimentoLivreCI/" target="_blank">
        <img class ="icon" src="../svg/facebook-logo.svg" alt="Conhecimento Livre">
      </a>
    </div>
  </div>
</nav>
