<section class="is-primary">
  <nav class="navbar is-transparent opaque-navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="is-size-4">&#60;&#47;Conhecimento Livre&#62;</p>
      </a>
    </div>
  </nav>
</section>
