<<<<<<< 92bd6c4ba19bb19707be86b0cd86166ab0531bb7
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class ="icon" src="../images/home.png" alt="Conhecimento Livre">
      <p class="title">&#160;&#160;&#60;&#8260;CONHECIMENTO LIVRE&#62;</p>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/aceleradora-TW/conhecimento-livre" target="_blank">
      <img class="icon" src="../images/github-logo.png" alt="Conhecimento Livre">
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://www.facebook.com/ConhecimentoLivreCI/" target="_blank">
      <img class ="icon" src="../images/facebook-logo.png" alt="Conhecimento Livre">
    </a>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/aceleradora-TW/conhecimento-livre" target="_blank">
        <img class="icon" src="../images/github-logo.png" alt="Conhecimento Livre">
      </a>
      <a class="navbar-item is-hidden-desktop-only" href="https://www.facebook.com/ConhecimentoLivreCI/" target="_blank">
        <img class ="icon" src="../images/facebook-logo.png" alt="Conhecimento Livre">
      </a>
    </div>
=======
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a href="/" class="navbar-item">&#60;/CONHECIMENTO LIVRE&#62;</a>
>>>>>>> <@AndreiRupertti,@MauricioSalin> modifica layout com bulma #68
  </div>
</nav>
