<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <p class="title">&#160;&#160;&#60;&#8260;Conhecimento Livre&#62;</p>
    </a>
  </div>
</nav>
