<section class="is-primary">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p class="title">&#160;&#160;&#60;&#8260;Conhecimento Livre&#62;</p>
      </a>
        <a class="navbar-item is-hidden-desktop" href="https://github.com/aceleradora-TW/conhecimento-livre" target="_blank">
       <img src="/images/github-circle.png" alt="Link Github">
    </a>
  </a>
    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/clivreoficial" target="_blank">
   <img src="/images/twitter.png" alt="Link Twitter">
    </a>
    <a class="navbar-item is-hidden-desktop" href="https://www.facebook.com/ConhecimentoLivreCI/" target="_blank">
        <img src="/images/facebook.png" alt="Link Facebook">
    </a>
  </div>
  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/aceleradora-TW/conhecimento-livre" target="_blank">
          <img src="/images/github-circle.png" alt="Link Github">
        </a>
        <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/clivreoficial" target="_blank">
       <img src="/images/twitter.png" alt="Link Twitter">
        </a>
      <a class="navbar-item is-hidden-desktop-only" href="https://www.facebook.com/ConhecimentoLivreCI/" target="_blank">
       <img src="/images/facebook.png" alt="Link Facebook">
      </a>
    </div>
  </nav>
</section>
