<section class="section">
  <div class="container">
<<<<<<< dacc57cd87cce9394b2deada9c6a0951cc78a68b
    <h1 class="title"> Cursos disponíveis:</h1>
=======
    <h1 class="subtitle">Cursos disponíveis:</h1>
>>>>>>> <@KarenF, @JessicaFranke, @ClaudiaStrm> adiciona hero #81
  </div>
</section>
