<section class="hero inicial-page is-medium">
  {{> header}}
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 slogan">
        <p>Conhecimento</p>
        <p>para todos!</p>
      </h1>
      <a class="button is-primary is-large" href="/#courses">Comece Já</a>
    </div>
  </div>
</section>
<section class="hero is-primary is-small">
  <div class="columns hero-body is-mobile is-tablet is-widescreen is-vcentered ">
    <div class="column container is-1">
    </div>
    <div class="column" >
      <article class="media vertical-align">
        <figure class="media-left">
          <p class="image is-48x48 margin-icon">
            <img src="../images/free.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="subtitle has-text-white is-6 is-hidden-mobile" >Cursos de programação gratuitos</p>
          </div>
        </div>
      </article>
    </div>
    <div class="column is-3" >
      <article class="media vertical-align">
        <figure class="media-left ">
          <p class="image is-48x48 margin-icon">
            <img src="../images/monitor.png" >
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="subtitle has-text-white is-6 is-hidden-mobile">Programe-se para aprender</p>
          </div>
        </div>
      </article>
    </div>
    <div class="column" >
      <article class="media vertical-align">
        <figure class="media-left ">
          <p class="image is-48x48 margin-icon">
            <img src="../images/brasil.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="subtitle is-6 has-text-white is-hidden-mobile">Conteúdos de qualidade em português</p>
          </div>
        </div>
      </article>
    </div>
    <div class="column container is-1">
    </div>
  </div>
</section>
