<section class="hero pag-inicial is-medium ">
  {{> header}}
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Conhecimento <br>para todos!</br>
      </h1>
      <a class="button is-primary is-large" href="/">Comece Já</a>
    </div>
  </div>
</section>
<section class="hero is-primary is-small">
  <div class="columns is-centered hero-body is-mobile">
    <div class="column">
      <a href="#"><p class="heading">
        <p>
          <figure class="image is-48x48" style="margin-left:auto; margin-right:auto">
            <img src="../images/free.png">
          </figure>
        </p>
        <p class="subtitle is-6 has-text-centered">Cursos de programação <br>gratuitos</a></p>
      </div>
      <div class="column">
        <a href="#"><p class="heading">
          <p>
            <figure class="image is-48x48"  style="margin-left:auto; margin-right:auto">
              <img src="../images/monitor.png">
            </figure>
          </p>
          <p class="subtitle is-6 has-text-centered">Programe-se para <br> aprender</a></p>
        </div>
        <div class="column">
          <a target="_blank" href="https://github.com/aceleradora-TW/conhecimento-livre"><p class="heading">
            <figure class="image is-48x48"  style="margin-left:auto; margin-right:auto">
              <img src="../images/github-circle.png">
            </figure>
          </p>
          <p class="subtitle is-6 has-text-centered">Código livre no<br>GitHub</a></p>
        </div>
        <div class="column">
          <a target="_blank" href="https://www.facebook.com/ConhecimentoLivreCI/"><p class="heading">
              <figure class="image is-48x48" style="margin-left:auto; margin-right:auto">
            <img src="../images/facebook.png">
          </figure>
        </p>
        <p class="subtitle is-6 has-text-centered">Curta nossa <br>página</a></p>
      </div>
    </div>
  </section>
