<section class="hero is-medium">
  <div class="hero-body pag-inicial">
    <div class="container">
      <h1 class="title">
        Conhecimento para todos
      </h1>
      <h2 class="subtitle">
        Comece já!
      </h2>
    </div>
  </div>
</section>

<section class="hero is-medium is-primary">
<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">
        <figure class="image is-24x24">
          <img class="has-text-centered" src="https://cdn3.iconfinder.com/data/icons/simple-toolbar/512/free_for_job_base_icons_bsd_sign_open_one-512.png">
        </figure>
      </p>
      <p class="title">Cursos de programação <br>gratuitos</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p>
        <figure class="image is-24x24">
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Computer_screen_icon_white.png">
        </figure>
      </p>

      <p class="title">Programe-se para <br> aprender</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">
        <figure class="image is-24x24">
          <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/icon-github.png">
        </figure>
      </p>
      <p class="title"><a href="#">Código Livre <br>GitHub</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">
        <figure class="image is-24x24">
          <img src="https://ty.ie/wp-content/uploads/2016/12/facebook-logo-png-white-i6.png">
        </figure>
      </p>

      <p class="title">Curta nossa <br>página</p>
    </div>
  </div>
</div>
</section>
