<section class="hero inicial-page is-medium">
  {{> header}}
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 slogan">
        <p>Conhecimento</p>
        <p>para todos!</p>
      </h1>
      <a class="button is-primary is-large" href="/#courses">Comece Já</a>
    </div>
  </div>
</section>
<section class="hero is-primary is-small">
  <div class="columns is-centered hero-body is-mobile is-tablet is-widescreen">
    <div class="column">
      <a href="/#courses"><p class="heading">
        <p>
          <figure class="image is-48x48 margin-icon">
            <img src="../images/free.png">
          </figure>
        </p>
        <p class="subtitle is-6 has-text-centered is-hidden-mobile">Cursos de programação <br>gratuitos</a></p>
      </div>
      <div class="column">
        <a href="/#courses"><p class="heading">
          <p>
            <figure class="image is-48x48 margin-icon">
              <img src="../images/monitor.png">
            </figure>
          </p>
          <p class="subtitle is-6 has-text-centered is-hidden-mobile">Programe-se para <br> aprender</a></p>
        </div>
        <div class="column">
          <a target="_blank" href="https://github.com/aceleradora-TW/conhecimento-livre"><p class="heading">
            <figure class="image is-48x48 margin-icon">
              <img src="../images/github-circle.png">
            </figure>
          </p>
          <p class="subtitle is-6 has-text-centered is-hidden-mobile">Código livre no<br>GitHub</a></p>
        </div>
        <div class="column">
          <a target="_blank" href="https://www.facebook.com/ConhecimentoLivreCI/"><p class="heading">
              <figure class="image is-48x48 margin-icon">
            <img src="../images/facebook.png">
          </figure>
        </p>
        <p class="subtitle is-6 has-text-centered is-hidden-mobile">Curta nossa <br>página</a></p>
      </div>
    </div>
  </section>
