<section class="hero is-medium">
  <div class="hero-body pag-inicial">
    <div class="container">
      <h1 class="title is-1">
        Conhecimento para todos
      </h1>
      <a class="button is-primary is-large" href="/">Comece Já</a>
    </div>
  </div>
</section>

<section class="hero is-primary is-large">
  <div class="columns is-centered">
    <div class="column">
      <p class="heading">
      <p>
        <figure class="image is-24x24" style="margin-left:auto; margin-right:auto">
          <img src="https://cdn3.iconfinder.com/data/icons/simple-toolbar/512/free_for_job_base_icons_bsd_sign_open_one-512.png">
        </figure>
      </p>
      <p class="subtitle is-6 has-text-centered">Cursos de programação <br>gratuitos</p>
    </div>
    <div class="column">
      <p class="heading">
      <p>
        <figure class="image is-24x24"  style="margin-left:auto; margin-right:auto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Computer_screen_icon_white.png">
        </figure>
      </p>
      <p class="subtitle is-6 has-text-centered">Programe-se para <br> aprender</p>
    </div>
    <div class="column">
      <p class="heading">
        <figure class="image is-24x24"  style="margin-left:auto; margin-right:auto">
          <img src="https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/icon-github.png">
        </figure>
      </p>
      <p class="subtitle is-6 has-text-centered"><a href="#">Código livre no<br>GitHub</a></p>
    </div>
    <div class="column">
      <p class="heading">
        <figure class="image is-24x24" style="margin-left:auto; margin-right:auto">
          <img src="https://ty.ie/wp-content/uploads/2016/12/facebook-logo-png-white-i6.png">
        </figure>
      </p>
      <p class="subtitle is-6 has-text-centered">Curta nossa <br>página</p>
    </div>
  </div>
</section>
