<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bulma.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Conhecimento Livre</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109982161-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', 'UA-109982161-1' );
  </script>
  <link rel="shortcut icon" href="/images/icone.ico" >
</head>
<body>
  {{{body}}}
</body>
</html>
