.content{
  @include size(100vh, 100vw);
  background: $border-color-default;
}

.top{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include size(50%, 100%);
}

.banner{
  background-image: url('../images/banner3.jpg');
  @include size(100%, 100%);
}

.container-top {
  @include size(65%, 100%);
  display: $display-default;
  justify-content: center;
  align-items: center;
}

.container-bottom {
  @include size(35%, 100%);
  display: $display-default;
  justify-content: center;
}

.search {
  @include size(30%, 40%);
  text-align: center;
  font-family: $font-default;
}
