<<<<<<< b31e80ed5ff4a82a4ec5216caa991813efdb93c5
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bulma.css">
</head>
<body>
<<<<<<< c01e3795efeace07fafc6deea45bbb54c62afe2d
<<<<<<< 16f6cfdfe9a1793710441e7835ef3404b47ea2a4
  <section class="hero is-primary">
    {{> header}}
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        404 - PÁGINA NÃO ENCONTRADA!
      </h1>
      <img src="https://vignette.wikia.nocookie.net/blogclan-2/images/4/45/Random-turtle.gif" alt="Imagem da tartaruga conformada">
    </div>
  </div>
</section>
=======

=======
>>>>>>> @DesireeMenezes corrige conflitos #99
  <section class="hero is-primary">
    {{> header}}
=======
<section class="hero is-primary">
  {{> header}}
>>>>>>> <@luizfetrindade, @AndreiRupertti> tira código repetido com main do handlebars
  <div class="hero-body">
    <div class="container has-text-centered	">
      <h1 class="title">
        404 - PÁGINA NÃO ENCONTRADA!
      </h1>
      <img src="https://vignette.wikia.nocookie.net/blogclan-2/images/4/45/Random-turtle.gif" alt="">
    </div>
  </div>
</section>
<<<<<<< b31e80ed5ff4a82a4ec5216caa991813efdb93c5
<<<<<<< c01e3795efeace07fafc6deea45bbb54c62afe2d

>>>>>>> <@DesireeMenezes @ClaudiaStrm> cria página de erro #99
=======
>>>>>>> @DesireeMenezes corrige conflitos #99
</body>
</html>
=======
>>>>>>> <@luizfetrindade, @AndreiRupertti> tira código repetido com main do handlebars
