<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bulma.css">
</head>
<body>
  <section class="hero is-primary">
    {{> header}}
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        404 - PÁGINA NÃO ENCONTRADA!
      </h1>
      <img src="https://vignette.wikia.nocookie.net/blogclan-2/images/4/45/Random-turtle.gif" alt="Imagem animada de tartaruga com o casco virado, conformada">
    </div>
  </div>
</section>

</body>
</html>
