<section class="hero is-fullheight is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <article class="card is-rounded">
          <div class="card-content">
            <p class="control has-icon">
              <form action="/admin/authorList" method="post">
                <input type="password" name="Senha" class="input" placeholder="Senha">
              </p>
              <p class="control">
                <input type="submit" value="Entrar" class="button is-primary is-medium is-fullwidth">
              </form>
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
