<section class="hero is-fullheight is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <article class="card is-rounded">
          <div class="card-content">
            <p class="content control has-icon">
              <input class="input" type="password" placeholder="Senha">
            </p>
            <p class="control">
              <button class="button is-primary is-medium is-fullwidth">
                Entrar
              </button>
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
