<section class="hero is-fullheight is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <article class="card is-rounded">
          <div class="card-content">
            {{#if failure}}
              <p class="has-text-danger">*{{failure}}<p>
            {{/if}}
            <p class="control has-icon">
              <form action="/admin/list" method="post">
                <input type="text" name="username" class="input" placeholder="Usuário">
                <input type="password" name="password" class="input" placeholder="Senha">
                <input type="submit" value="Entrar" class="button is-primary is-medium is-fullwidth">
              </form>
            </p>
          </div>
        </article>
      </div>
      <div class="columns is-centered">
        <a class="button is-info" href="/">Retornar para a página inicial</a>
      </div>
    </div>
  </div>
</section>
