<div class="level">
  <div class="level-left">
    {{#courses}}
    <h1>Lista de cursos de {{author}}</h1>
    {{/courses}}
  </div>
  {{>logoutButton}}
</div>
<table class="table">
  <div class="tabs">
    <ul>
      <li class="tablink is-active"><a href="/admin/list">Retornar para a página anterior</a></li>
    </ul>
  </div>
  <tr>
    <th>Cursos</th>
  </tr>
  {{#courses}}
  <tr>
    <td>{{title}}</td>
  </tr>
  {{/courses}}
</table>
