<html>
<head>
  <meta charset="utf-8">
  <title>Autor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bulma.css">
</head>
<body>
  <div>
    {{#authorItem}}
    <section class="hero is-primary is-medium">
      {{> header}}
      <div class="max-height hero-body columns is-mobile is-tablet is-widescreen">
        <div class="column is-one-quarter">
          <figure class="image is-mobile is-tablet is-widescreen">
            <img class="border-radius" src="{{ photourl }}" alt="foto do autor" >
          </figure>
        </div>
        <div class="column has-text-centered">
          <p class="title is-2">{{ author }}</p>
          <p class="subtitle">{{ email }}</p>
        </div>
      </div>
    </section>
    <section>
    <div class="columns">
      <div class=" column is-one-quarter">
      </div>
        <div class="column has-text-centered padding-top">
          <div class=" notification is-light lateral-padding">
            <p class="subtitle is-2">Biografia</p>
            <p class="subtitle">{{ bio }}</p>
          </div>
      </div>
    </div>
    {{/authorItem}}
  </section>
  </div>
    <div class="notification is-light">
    <p class="subtitle is-3">Cursos</p>
    <div class="courses">
    {{> coursesauthor}}
    </div>
  </div>
</html>
