<html>
<head>
  <meta charset="utf-8">
  <title>Autor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bulma.css">
</head>
<body>
  <div>
    {{#authorItem}}
    <section class="hero is-primary is-medium">
      {{> header}}
      <div class="max-height hero-body columns">
        <div class="column is-one-quarter">
          <figure class="image absolute">
            <img class="border-radius" src="{{ photourl }}" alt="foto do autor" >
          </figure>
        </div>
        <div class="column has-text-centered">
          <p class="title is-3">{{ author }}</p>
          <p class="subtitle">{{ email }}</p>
        </div>
      </div>
    </section>
    {{/authorItem}}
  </div>
</body>
</html>
