<table class="table">
  <div class="tabs">
    <ul>
      <li class="tablink is-active"><a href="/admin/list">Retornar para a página anterior</a></li>
    </ul>
  </div>
  <tr>
    <th>Cursos</th>
  </tr>


  {{#courses}}
  <tr>
    <td><a href="../../admin/contentList/{{ _id}}"> {{ title }}</a></td>
  </tr>
  {{/courses}}
</table>
