<div>
  {{#authorItem}}
  <section class="hero is-primary is-medium">
    {{> header}}
    <div class="max-height hero-body columns is-mobile is-tablet is-widescreen">
      <div class="column is-one-quarter">
        <figure class="image is-mobile is-tablet is-widescreen">
          {{#if authorApproval}}
          <img class="border-radius" src="{{ photourl }}" alt="foto do autor" >
        </figure>
      </div>
      <div class="column has-text-centered">
        <p class="title is-2">{{ name }}</p>
        <p class="subtitle">{{ email }}</p>
      </div>
    </div>
  </section>
  <section>
    <div class="columns">
      <div class=" column is-one-quarter">
      </div>
      <div class="column has-text-centered padding-top">
        <div class=" notification is-light lateral-padding">
          <p class="subtitle is-2">Biografia</p>
          <p class="subtitle">{{ bio }}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
  {{/authorItem}}
</div>
<div class="notification is-light">
  <div class="courses">
    {{> coursesAuthor}}
  </div>
</div>
