<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Autor</title>
  <link rel="stylesheet" href="../css/bulma.css">
</head>
<body>
  {{> header}}


  <div class="hero-body">
      {{#authorItem}}
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-5">
              <figure class="image is-256x256 box">
                <img src="{{ photourl }}" alt="foto do autor" >
              </figure>
            </div>
            <div class="column is-6 is-offset-1">
              <h1 class="title is-2">
                {{ author }}
              </h1>
              <h2 class="subtitle is-4">
                {{ email }}
              </h2>
              <br>
              <strong>BIO: </strong>
              <p class="has-text-centered box">
                {{ bio }}

              </p>

            </div>
          </div>
        </div>
        {{/authorItem}}
      </div>

      <div class="hero-foot">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li><strong>Cursos do Autor</strong></li>
          </ul>
        </div>
      </div>
    </div>



    <div class="courses">
                  {{> coursesauthor}}

    </div>



    <script async type="text/javascript" src="../js/bulma.js"></script>

  </body>
  </html>
