<fieldset class="no-border">
  <div class="hero-body">
    <legend class="subtitle is-3">Inserir nova aula</legend>
    <div class="field">
      <label class="label">Título</label>
      <div class="control">
        <input class="input" type="text" placeholder="Insira o título da aula aqui">
      </div>
    </div>
    <div class="field">
      <label class="label">Autor</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Selecione o autor</option>
            {{#allAuthors}}
            <option>{{name}}</option>
            {{/allAuthors}}
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">URL</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Insira o URL da aula aqui">
      </div>
    </div>
    <div class="field">
      <label class="label">Descrição</label>
      <div class="control">
        <textarea class="textarea" placeholder="Insira aqui a descrição da aula"></textarea>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link is-success">Salvar</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancelar</button>
      </div>
    </div>
  </div>
</fieldset>
