<fieldset class="no-border">
  <div class="hero-body">
    <form action="/admin/saveContent/{{_id}}" method="post">
      <legend class="subtitle is-3">Inserir nova aula</legend>

      <div class="field">
        <label class="label">Título</label>
        <div class="control">
          <input id="title" name="title" class="input" type="text" placeholder="Insira o título da aula aqui" value="{{title}}">
        </div>
      </div>

      <div class="field">
        <label class="label">URL</label>
        <div class="control has-icons-left has-icons-right">
          <input id="url" name="url" class="input" type="text" placeholder="Insira o URL da aula aqui" value="{{url}}">
        </div>
      </div>

      <div class="field">
        <label class="label">Descrição</label>
        <div class="control">
          <textarea id="description" name="description" class="textarea" placeholder="Insira aqui a descrição da aula" value="{{description}}"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" value="Salvar" class="button is-primary is-medium is-fullwidth">
        </div>
      </form>
      <div class="control">
        <button class="button is-text">Cancelar</button>
      </div>
    </div>
  </div>
</fieldset>
