<table class="table">
  <div class="tabs">
    <ul>
      <li class="tablink is-active"><a href="/admin/list">Retornar para a página anterior</a></li>
    </ul>
  </div>
  <tr>
    <th>Aula</th>

    <th><a href="/form/content"><button type="button" name="include">Incluir Aula</button></a></th>
  </tr>
  {{#contents}}
  <tr>
    <td>{{title}}</td>
    <td>
      <button onclick="deleteItem('{{_id}}', 'contents')" type="button" name="delete">Delete</button>
      <button type="button" name="edit">Edit</button>
    </td>
  </tr>
  {{/contents}}
</table>

<script src="/js/deleteItem.js"></script>
