<section class="hero is-primary is-medium">
  {{> header}}
  <div class="hero-body max-height is-mobile is-tablet is-widescreen">
    <div class="margin-hero">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile is-parent fullhight">
            {{>contentFirstColumn}}
            {{> contentSecondColumn}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
