<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>asd</title>
  <link rel="stylesheet" href="/css/content.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
</head>
<body>
  <section class="content-section">
    <header class="content-header">
      <div class="logo">
        <h1>&#60;/CONHECIMENTO LIVRE&#62;</h1>
      </div>
      <div class="search">
        <form class="search" action="/" method="post">
          <input id="search" type="text" name="search" placeholder="Procurar">
        </form>
      </div>
    </header>
    <div class="container">
      <div class="content-container">
        <div class="player-container">
          {{#content}}
          <p class="title">{{ title }}</p>
          <iframe class="player-size" width="560" height="315" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
          {{/content}}

        </div>
      </div>
      <div class="playlist-container">
        <ul>
          {{#allContents}}
          <a href="/content/{{ _id }}">
            <li>{{ title }}</li>
          </a>
          {{/allContents}}
        </ul>
      </div>
    </div>
  </section>
</body>
</html>
