<section class="hero is-primary is-medium">
  {{> header}}
  <div class="hero-body max-height is-mobile is-tablet is-widescreen">
    <div class="columns">
      <div class="column">
          <h1 class="title is-2 has-text-white">
            <div class="course-title">
              {{#authorItem}}
              {{#courses}}
              {{#if courseApproval}}
              {{ title }}
            </div>
          </h1>
          <h2 class="subtitle is-4 has-text-left has-text-grey-darker is-hidden-mobile">
            <div class="column margin-description">
              {{ description }}
              {{/if}}
              {{/courses}}
              {{/authorItem}}
            </div>
          </h2>
      </div>
      <div class="column is-half">
        <div class="box box-shadow">
          <figure class="image is-16by9">
            {{#authorItem}}
            {{#courses}}
            {{#if courseApproval}}
            <img src="{{ image }}" alt="imagem do curso">
            {{/if}}
            {{/courses}}
            {{/authorItem}}
          </figure>
          <div class="column">
            {{> courseDetails}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
