<!-- INSERIR RESULTADO BUSCA -->
<div>
  <h3>Node.js</h3>
  <form action="/search/" method="post">
    <button type="submit" name="nivel" value="Iniciante"> Iniciante<br>
    <button type="submit" name="nivel" value="Intermediario"> Intermediario<br>
    <button type="submit" name="nivel" value="Avancado"> Avancado<br>
  </form>
</div>
