<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <div class="top">
      {{> top}}
    </div>
    <div class="middle">
      {{> middle}}
    </div>
    <div class="bottom">
      <div class="container">
          {{> bottom}}
      </div>
<<<<<<< aa52eeb5facd5d53ec2b95f68f0a644beb5af2c0
=======

>>>>>>> <@DesireeMenezes, @ClaudiaStrm> arruma responsividade nos cards #81
    </div>
  </div>
</body>
</html>
