<html>
<head>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="/sass/text.scss">
  <link rel="stylesheet" href="/sass/top.scss">
  <link rel="stylesheet" href="/sass/bottom.scss">
  <link rel="stylesheet" href="/sass/image.scss">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
</head>
<body>
  <div class="content">
    <div class="top">
      {{> top}}
    </div>

    <div class="middle">
      {{> middle}}
    </div>

    <div class="bottom">
      {{> bottom}}
    </div>
  </div>
</body>
</html>
