<html>
<head>
  <link rel="stylesheet" href="css/bulma.css">
</head>
<body>
  <div class="content">
    <div class="top">
      {{> top}}
    </div>

    <div class="middle">
      {{> middle}}
    </div>

    <div class="bottom">
      {{> bottom}}
    </div>
  </div>
</body>
</html>
