<html>

<head>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
</head>

<body>
  <div class="content">
    <div class="superior">
      <div class="banner">
        <div class="container-top">
          <div class="logo">

            <div class="subtitle-top">
              <p>Programe-se para aprender!</p>
            </div>
            <div class="title-logo">
              <p>&#60;/CONHECIMENTO LIVRE&#62;</p>
            </div>
            <div class="subtitle-bottom">
              <p>Cursos de programação gratuitos.</p>
            </div>
          </div>
        </div>
        <div class="container-bottom">
          <input class="search" type="text" placeholder="Procurar">
        </div>
      </div>
    </div>
    <div class="meio">
      <p class="title">Cursos em destaque:</p>
    </div>
    <div class="inferior">
      <div class="carrossel">
        <ul>
          <li class="course"></li>
          <li class="course2"></li>
          <li class="course3"></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
