<html class="has-navbar-fixed-top">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  {{> header}}
  <section class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <img src="../../public/images/banner-inicial.jpg" alt="">
    </div>
  </div>
</section>

    <div class="middle">
      {{> middle}}
    </div>

    <div class="bottom">
      <div class="container">
          {{> bottom}}
      </div>

    </div>
  </div>
</body>
</html>
