<div>
  <ul>
    {{#allContents}}
      <li><a class='link' href="/content/{{ _id }}">{{ title }}</li>
    {{/allContents}}
    </ul>
  </div>
  <form action="/search" method="get">
      First name: <input type="text" name="search"><br>
      <input type="submit" value="Submit">
  </form>
