<html class="">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  {{> header}}

    <div class="top">
      {{> top}}
    </div>

    <div class="middle">
      {{> middle}}
    </div>

    <div class="bottom">
      <div class="container">
          {{> bottom}}
      </div>

    </div>
  </div>
</body>
</html>
