<html>

<head>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
</head>

  <body>
    <div class="content">
      <div class="superior">
        <div class="banner">
        <div class="container">
          <div class="logo">
          </div>
        </div>
      </div>
      </div>

    <div class="inferior">
        <div class="carrossel">
          <ul>
            <li class="course"></li>
            <li>Video 02</li>
            <li>Video 03</li>
            <li>Video 04</li>
            <li>Video 05</li>
            <li>Video 06</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
