<script src="/js/tabs.js"></script>

<section>
  <div class="tab">
    <button class="tablink" onclick="openList(event, 'Author')">'Autor'</button>
    <button class="tablink" onclick="openList(event, 'Content')">'Curso'</button>

    <div class="tabcontent" id="Author">
      {{#allAuthors}}
      {{name}}
      {{/allAuthors}}
    </div>

    <div class="tabcontent" id="Content">
      {{#allAuthors}}
      {{#courses}}
      {{title}}
      {{/courses}}
      {{/allAuthors}}
    </div>
  </section>
