{{>logoutButton}}
<section>
  <div class="tabs">
    <ul>
      {{#flag}}
        <li class="tablink" onclick="openList(event, 'Author')"><a>yyyyyyyyyy</a></li>
        <li class="tablink is-active" onclick="openList(event, 'Courses')"><a>yyyyyyyy</a></li>
      {{/flag}}
      {{^flag}}
        <li class="tablink is-active" onclick="openList(event, 'Author')"><a>pppppp</a></li>
        <li class="tablink" onclick="openList(event, 'Courses')"><a>ppppppppppppppp</a></li>
      {{/flag}}
    </ul>
  </div>
  {{>authorsList}}
  {{>coursesList}}
</section>
<script src="/js/tabs.js"></script>
<script src="/js/load.js"></script>
