<div>
  <ul>
    {{#courses}}
    <li>{{_id}}
    </li>

  </ul>
    <div>
      <form action="/search/{{_id}}/Intermediario" method="post">
        <button type="submit" name="nivel" value="iniciante"> Iniciante<br>
          <button type="submit" name="nivel" value="intermediario"> Intermediario<br>
            <button type="submit" name="nivel" value="avancado"> Avancado<br>
            </form>
      {{/courses}}
   <div>
