<a href='/'><button>Voltar</button></a>
<p>{{ nome }}</p>
<iframe width="560" height="315" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
<br><br><a href='/video2'><button>Próximo</button></a>
