<a href='/'><button>Voltar</button></a>
<p>Node.js API testável #1 - Setup com ES6 + Babel + Express</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/l4glc0XNVbM" frameborder="0" allowfullscreen></iframe>
<a href='/video2'><button>Próximo</button></a>
