body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

.content-section {
  font-family: "Fjalla One", sans-serif;
  height: 100vh;
  width: 100vw; }

.content-header {
  background: #009688;
  color: #fff;
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  height: 10%;
  width: 100%; }

.logo, .search {
  height: auto;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo form, .search form {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center; }
  .logo .search input, .search .search input {
    height: 50%;
    width: 100%;
    border-radius: 4px;
    border: none;
    text-align: center; }

.container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .container .content-container {
    height: 100%;
    width: 70%;
    align-items: flex-start;
    display: flex;
    justify-content: center; }
    .container .content-container .player-container {
      height: 75%;
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .container .content-container .title {
      display: flex;
      align-items: center;
      font-size: 1.3em; }
    .container .content-container .player-size {
      height: 80%;
      width: 90%; }

.playlist-container {
  height: 100%;
  width: 30%;
  border: 1px;
  border-color: #e2e2e2;
  border-left-style: dashed;
  display: flex;
  margin-top: 2vh; }
  .playlist-container ul {
    height: 100%;
    width: 90%;
    overflow: scroll;
    font-size: 0.9em; }
    .playlist-container ul li {
      height: 20%;
      width: 90%;
      border: 1px solid #e2e2e2;
      list-style: none;
      margin-bottom: 2vh;
      position: relative; }
      .playlist-container ul li img {
        height: 100%;
        width: 100%; }
      .playlist-container ul li .title-video {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 20%;
        background-color: #009688;
        color: white;
        opacity: 0.8; }
      .playlist-container ul li p {
        opacity: 0;
        position: absolute;
        bottom: -10%;
        width: 100%;
        height: 50%; }
        .playlist-container ul li p:hover {
          background-color: black;
          color: white;
          opacity: 0.7; }

* {
  box-sizing: border-box; }

.bottom {
  display: flex;
  justify-content: center;
  align-items: stretch; }
  .bottom ul {
    height: 100%;
    width: 80%;
    margin-left: 4%; }
    .bottom ul li {
      display: inline-flex;
      list-style-type: none;
      margin: 1%; }
      .bottom ul li a {
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: black;
        font-family: "Fjalla One"; }
        .bottom ul li a .lista-cursos {
          position: relative;
          background: #e2e2e2;
          height: 12.5rem;
          width: 20rem;
          border-radius: 0.1em;
          border: 0.09em solid #009688;
          border-top: 1em solid #009688;
          box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.25);
          transition: box-shadow .25s ease-in; }
          .bottom ul li a .lista-cursos .card-title {
            display: block;
            font-size: 1.4em;
            margin-left: 5%;
            margin-top: 6%; }
          .bottom ul li a .lista-cursos .card-description {
            display: block;
            color: #58595b;
            font-size: 1em;
            margin-left: 5%;
            margin-top: 6%; }
          .bottom ul li a .lista-cursos .card-author, .bottom ul li a .lista-cursos .card-language {
            display: inline;
            color: #58595b;
            font-size: 0.8em;
            margin-left: 5%;
            margin-top: 6%;
            line-height: 9em; }
          .bottom ul li a .lista-cursos .card-language {
            position: absolute;
            right: 5%; }

.middle {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-end; }

.carousel-invisible {
  display: none; }

.carousel-visible {
  display: flex; }

.content {
  height: 100vh;
  width: 100vw;
  background: #e2e2e2; }

.top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
  width: 100%; }

.banner {
  background-image: url("../images/banner3.jpg");
  height: 100%;
  width: 100%; }

.container-top {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-bottom {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: center; }

form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }

.search {
  height: 30%;
  width: 40%;
  text-align: center;
  font-family: "Fjalla One"; }

* {
  margin: 0;
  padding: 0; }

.logo {
  height: 40%;
  width: 65%;
  display: inline-grid;
  font-family: "Fjalla One";
  color: #fff;
  background: #009688;
  justify-content: center; }

.title {
  height: 50%;
  width: 100%;
  font-family: "Fjalla One";
  align-items: center;
  font-size: 1.5em;
  margin-left: 10%; }

.title-logo {
  font-size: 3em; }

.subtitle-top {
  height: 25%;
  width: 100%;
  font-size: 1em;
  justify-content: center;
  display: flex;
  margin-top: 1vh; }

.subtitle-bottom {
  height: 25%;
  width: 100%;
  font-size: 1em;
  justify-content: center;
  display: flex;
  margin-bottom: 1vh; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #e2e2e2; }

.content {
  height: 100vh;
  width: 100vw;
  background: #e2e2e2; }
