<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Conhecimento Livre - Node.js API testável #1 - Setup com ES6 + Babel + Express</title>
    <link rel="stylesheet" href="/content.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
  </head>
  <body>


    <section class="content-section">
      <header class="content-header">
        <div class="logo">
          <h1>&#60;/CONHECIMENTO LIVRE&#62;</h1>
        </div>
        <div class="search">
          <form class="search" action="/" method="post">
            <input id="search" type="text" name="search" placeholder="Procurar">
          </form>
        </div>
      </header>

      <div class="container">
          <div class="video-container">
            <div class="player-container">
              <p class="title-video">Node.js API testável #1 - Setup com ES6 + Babel + Express</p>
              <iframe class="player-size" src="https://www.youtube.com/embed/l4glc0XNVbM" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="playlist-container">
            <ul>
              <li>Video 01</li>
              <li>Video 02</li>
              <li>Video 03</li>
              <li>Video 04</li>
              <li>Video 05</li>
              <li>Video 06</li>
              <li>Video 06</li>
              <li>Video 06</li>
            </ul>
          </div>
      </div>
    </section>
  </body>
</html>
